<h1>Listing devices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Type</th>
      <th>Last lat</th>
      <th>Last lon</th>
      <th>Last fix</th>
      <th>Active</th>
      <th>Available</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= device.user_id %></td>
        <td><%= device.type_id %></td>
        <td><%= device.last_lat %></td>
        <td><%= device.last_lon %></td>
        <td><%= device.last_fix %></td>
        <td><%= device.active %></td>
        <td><%= device.available %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
