<!DOCTYPE html>
<html>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Lokusapp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Lokusapp" %>">
    <%= stylesheet_link_tag 'web/', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class=page">
    <header>

      <%= render 'layouts/web/navigation_top' %>
      <%= render 'layouts/web/navigation_bottom' %>
      <%= render 'layouts/web/messages' %>
      <div id="page-header-bottom-holder" class="page-header-bottom-holder"></div>

    </header>


    <main role="main">


       <%= yield %>


    </main>
      <%= render 'layouts/web/footer_top' %>
      <%= render 'layouts/web/footer_bottom' %>

    </div>
  </body>
</html>
