<!DOCTYPE html>
<html>


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Lokusapp" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Lokusapp" %>">
<%#= stylesheet_link_tag 'web/application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'web/styles' %>
<%= stylesheet_link_tag 'web/font-awesome' %>
<%= stylesheet_link_tag 'web/jquery.fancybox' %>
<%= stylesheet_link_tag 'web/owl.carousel' %>
<%= stylesheet_link_tag 'web/animate' %>

<%= csrf_meta_tags %>
</head>
<body>
<div class="page">
  <header>

    <%= render 'layouts/web/navigation_top' %>
    <%= render 'layouts/web/navigation_bottom' %>
    <%= render 'layouts/web/messages' %>


    <div id="page-header-bottom-holder" class="page-header-bottom-holder"></div>


  </header>


  <main role="main">
    <%= render 'layouts/web/title' %>
    <main class="page-content">
      <%= yield %>
    </main>

  </main>
  <%= render 'layouts/web/footer_top' %>
  <%= render 'layouts/web/footer_bottom' %>

</div>

<%= javascript_include_tag 'application' %>

</body>
</html>
